{% load bootstrap5 %}
<div class="card mt-4">
  <!-- <div class="card"> style="width: 18rem;" -->
  <div class="card-header">
    <p>
      <img src="{{post.user.profile_image.url}}" alt="" class="rounded-circle" width="50px">
      <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">{{post.user}}</a>
    </p>
  </div>
  <img src="{{post.image.url}}" alt="...">
  <div class="card-body">
    <!-- <h5 class="card-title">{{post.title}}</h5> -->
    <!-- <a href="{% url 'posts:like' post_id=post.id %}" class="text-reset text-decoration-none"> -->
      <!-- 좋아요를 눌렀다면 -->
      {% if post in user.like_posts.all %}
        <i class="bi bi-heart-fill heart" style="color: red ;" data-post-id="{{post.id}}">{{post.like_users.all|length}}</i>
      {% else %}
        <i class="bi bi-heart heart" data-post-id="{{post.id}}">{{post.like_users.all|length}}</i> 
      {% endif %}
    <!-- </a>  -->
      명이 좋아합니다.

    <p class="card-text">{{post.content}}</p>
    <p class="card=text">{{post.created_at|timesince}}</p> 
    <!-- <p>{{post.image}}</p> -->
    <!-- <p>{{post.image.url}}</p> -->
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>

  <div class="card-footer">
    {% if user.is_authenticated %}
    <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST"> 
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit">
    </form>
    <hr>
    {% endif %}

    
    {% for comment in post.comment_set.all %}
      <li>{{comment.user}} : {{comment.content}}</li>
      <a href="{% url 'posts:comment_delete' post_id=post.id id=comment.id %}" class="btn btn-outline-primary btn-sm">delete</a> 
      <a href="{% url 'posts:comment_edit' post_id=post.id id=comment.id %}" class="btn btn-outline-info btn-sm">edit</a> 
      
      <!-- <a href="{% url 'posts:comment_like' post_id=post.id comment_id=comment.id %}" class="text-reset text-decoration-none">

        {% if comment in user.liked_comments.all %}
          <i class="bi bi-heart-fill" style="color: red ;" ></i>
        {% else %}
          <i class="bi bi-heart" ></i> 
        {% endif %}
      </a> {{comment.likes.all|length}} -->
      

      {% if comment in user.liked_comments.all %}
        <i class="bi bi-heart-fill comment-heart" style="color: red ;" data-comment-id="{{comment.id}}" data-post-id="{{post.id}}">{{comment.likes.all|length}}</i>
      {% else %}
        <i class="bi bi-heart comment-heart" data-comment-id="{{comment.id}}" data-post-id="{{post.id}}">{{comment.likes.all|length}}</i> 
      {% endif %}

        <!-- {{comment.likes.all|length}} -->
       

    {% endfor %}




  </div>
</div>