{% extends 'base.html' %}


{% block body %}

<script src="https://kit.fontawesome.com/4c0e69666b.js" crossorigin="anonymous"></script>

<div class="row">
  <div class="col-4">
    <img src="{{user_info.profile_image.url}}" alt="" class="img-fluid rounded-circle">
    
    <br>
    
    
    <!-- <div class="image-container">
      <img src="{{user_info.profile_image.url}}" alt="" class="img-fluid rounded-circle" width = 100px height = 100px>
      
    </div> -->
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-3">{{user_info.username}}</div>

      <!-- user: 로그인한 사람 / user_info: 프로필페이지 유저 -->
      {% if user != user_info %}
      <div class="col-4">

        <!-- <button id="followButton" data-username="{{ user_info.username }}" data-followed="{% if user in user_info.followers.all %}true{% else %}false{% endif %}">
          {% if user in user_info.followers.all %}
              팔로잉
          {% else %}
              팔로우
          {% endif %}
        </button> -->
        {% if user in user_info.followers.all %}
        
          <a href="{% url 'accounts:follow' username=user_info.username %}" class="btn btn-primary btn-sm">팔로잉</a></div>
        {% else %}
          <a href="{% url 'accounts:follow' username=user_info.username %}" class="btn btn-secondary btn-sm">팔로우</a></div>
        {% endif %}
        
      </div>
      {% endif %}

    <div class="row">
      <div class="col">게시물 {{user_info.post_set.all|length}}</div>
      <div class="col">팔로워 {{user_info.followers.all|length}}</div>
      <div class="col">팔로우 {{user_info.followings.all|length}}</div>
    </div>
  </div>
</div>

<hr>
<i class="fa-regular fa-image"> 게시물 </i>

<div class="row row-cols-3">
  {% for post in user_info.post_set.all %}
    <div class="col">
      <div class="card">
        <img src="{{post.image.url}}" alt="">
      </div>
    </div>
  {% endfor %}
</div>

<!-- follow 기능 ajax 처리
<script>
  const followButton = document.getElementById('followButton');

  followButton.addEventListener('click', async () => {
    const username = followButton.getAttribute('data-username');
    const isFollowed = JSON.parse(followButton.getAttribute('data-followed'));

    // 팔로우 상태를 반전시킵니다.
    followButton.setAttribute('data-followed', !isFollowed);

    let response;
    let status = false; // 팔로우 상태를 나타내는 변수명을 'status'로 변경

    // 팔로우 요청을 보냅니다.
    response = await followAsync(username, isFollowed);
    status = response.status; // 응답에서 'status' 변수를 가져와서 사용

    // 서버 응답에 따라 UI 업데이트를 수행합니다.
    if (status) { // 'status' 변수로 팔로우 상태를 확인
        if (isFollowed) {
            followButton.textContent = '팔로우';
        } else {
            followButton.textContent = '팔로잉';
        }
    }
  })

  async function followAsync(username, isFollowed) {
    const url = `/accounts/${username}/follow_async/`;

    const response = await fetch(url);
    return await response.json();
}
</script> -->


{% endblock %}